node_modules
**/node_modules
dist
**/dist
out-tsc
*.tsbuildinfo
.expo
.expo-shared
.git
.gitignore
.local
.replit
replit.nix
.config
.cache
.upm
attached_assets/screenshots
npm-debug.log
yarn-error.log
.DS_Store
*.log
.env
.env.*
!.env.example
